<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IIQAutomationTestSuit">
  <test name="IIQ TestCase">
    <classes>
      <class name="com.IIQQATestCases.Aggregation"/>
      <class name="com.IIQQATestCases.UIConfiguration"/>
      <class name="com.IIQQATestCases.LogIn"/>
      <class name="com.IIQQATestCases.Accounts"/>
      <class name="com.IIQQATestCases.SourceConfigure"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
